{% extends 'base.html' %}
{% block title %}

    <title>show page</title>
{% endblock %}
{% block content %}
<body>
            <h3 class="text-center text-primary"> Patient Registration Form</h3>
            <table  class="table table-success table-striped">
                <thead>
                <tr>

                    <th>  DATE </th>
                    <th>  PATIENT NAME </th>
                    <th>  GENDER </th>
                    <th>  PHONE </th>
                    <th>  DOB </th>
                     <th>  MARITAL STATUS </th>
                    <th colspan="2" class="text-center"> Action </th>
                </tr>
                </thead>
                <tbody>
                {% for c in obj %}
                <tr>
                    <td>{{c.date}}</td>
                    <td>{{c.patient_name}}</td>
                    <td>{{c.gender}}</td>
                    <td>{{c.phone}}</td>
                    <td>{{c.dob}}</td>
                    <td>{{c.marital_status}}</td>
                    <td>
                        <a href="{% url 'update_url' c.id %}">
                            <button class="btn btn-warning col-12"><i class="bi bi-pencil-square"></i>&nbsp Upadte </button>
                        </a>
                    </td>
                     <td>
                        <a href="{% url 'cancel_url' c.id %}">
                            <button  class="btn btn-danger col-12"><i class="bi bi-trash3-fill"></i>&nbsp Delete </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>



            </table>
</body>
{% endblock %}